body{
	background-color:#eee;
}
#box{
	background-color: #fff;
	padding: 20px 20px;
	margin-top: 20px;
	margin-bottom: 20px;
    text-align: justify;
    border-radius: 6px;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
	border-left: solid red;
    cursor: pointer;
}
#box2{
	background-color: #fff;
	padding: 20px 20px;
	padding: 20px 20px;
	margin-top: 20px;
	margin-bottom: 20px;
    text-align: justify;
    border-radius: 6px;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
	border-right: solid red;
    cursor: pointer;
}