img{
  cursor: pointer;
  border: solid;
}
img:hover{
  transform: scale(1.05,1.05);
}
#back{
  border:solid 1px rgba(0,0,0,0.2);
  background-color: #eee;
}
#back2{
  border:solid 1px rgba(0,0,0,0.2);
}

