.colorA{
    background-color: #90E8A2;
}
.colorB{
    background-color: #e8ba84;
}
.colorC{
    background-color: #E89579;
}
.colorD{
    background-color:#61bEE8;
}
.colorE{
    background-color:#E86D7F;
}
/* Para Fuentes*/

.navbar a:hover {
    background-color: #E86D7F;
    border-radius: 5px;
    color: white;
}
.navbar{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.8VH;
    
}



.colorL{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    
}

nav .navbar-nav li a{
    color: white !important;
    }

.colorFooter{
    background: linear-gradient( to bottom, #f7a387, #E89579);
}

.margenes{
    margin-left: 10%;
    margin-right: 10%;
}
.margenes2{
    margin-left: 5%;
    margin-right:5%;
}
@media only screen and (max-width: 600px) {
    .margenes {
        margin-left:2%;
        margin-right:2%;
    }
}
@media only screen and (max-width: 600px) {
    .margenes2 {
        margin-left:1%;
        margin-right:1%;
    }
}
.botonA{
    background-color: #E89579; /* Green */
    border: none;
    color: white;
    width: 100%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white !important;
}