*{margin: 0;padding: 0;box-sizing: border-box;}
body{width: 100%;height: 100vh;display: flex;flex-flow: column nowrap;justify-content: space-between;}

/*--- Estilos para el contenido principal ---*/
.contenedor{
    width: 100%;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}
.contenedor img{
    position:absolute;
    height: 100%;
    width: 100%;
    left: 0%;
    z-index: -10;
}
.fondo-alphaTop{
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding:20px;
}
.fondo-alphaCenter{
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    position: relative;
}
.fondo-alphaBottom{
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
/*--- Estilos para la animación ----*/
.cont-circulos{
    display: flex;
    align-items: center;
}
.circulo{
    width: 80px;
    height: 80px;
    border: 2px solid #000;
    border-radius: 50%;
    opacity: 0.3;
    transition: 1.5s;
    display: flex;
    justify-content: center;
    align-items: center;  
    position: relative;  
    text-align: center;
}
#circuloParrafo1{
    position: absolute;
    top: 100%;
}
#circuloParrafo2{
    position: absolute;
    top: 100%;
}
#circuloParrafo3{
    position: absolute;
    top: 100%;
}
#circuloParrafo4{
    position: absolute;
    top: 100%;
}
.circulo i{
    font-size: 30px;
    opacity: 0.3;
    transition: 1.5s;
}
.cont-linea{
    width: 150px;
    height: 5px;
}
.linea{
    background-color: seagreen;
    width: 0%;
    height: 100%;
    transition: 1.5s;
}
.margenTop{
    margin-top: 30px;
}
.responsivo{
    padding:10px 0 20px 40px;
    margin: 0;
}
.paddingNavLi{
    padding-left: 20px;
    padding-right: 20px;
}
@media only screen and (max-width: 990px){
    .paddingNavLi{
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media only screen and (max-width: 782px){
    .cont-linea{
        width: 100px;
    }
}
@media only screen and (max-width: 580px){
    .responsivo{
        display: flex;
        flex-flow: column;
        font-size: 12px;
        margin-top: 0;
        padding:0;
        padding-right: 5px;
        position: relative;
    }
    .responsivo i{
        font-size: 10px;
    }
    .responsivo h4{
        position: absolute;
        top: 15%;
        left: 30%;
    }
    .cont-linea{
        width: 50px;
    }
    .circulo{
        height: 50px;
    }
    .fondo-alphaBottom h2{
        font-size: 20px;
    }
}
